.card {
	width: var(--card-width);
    background-color: #eee;
    border-color: #fff #333 #333 #fff;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    cursor: pointer;
    float: left;
    height: calc(var(--width) * 1.3333333333);
    left: 0;
    position: absolute;
    top: 0;
}

.card use:first-child {
    display: none;
}

.card svg {
    fill: transparent;
}