.card {
    /* --width: 3rem; */
    --width: calc(4rem + 3vw);
	width: var(--width);
    height: calc(var(--width) * 1.3333333333);
    cursor: pointer;
    margin: 5px;
}

.card {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    border-width: 1px;
    border-style: solid;
    border-color: #fff transparent transparent #fff;
}

/* .card + .card {
    transform: translate(20px,-80px);
} */

.card svg {
    fill: transparent;
}