:root {
	--tablebg: #006600;
	--tint: #333;
	--card-width: calc(4rem + 3vw);
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--tablebg);
	color: var(--tint);
	margin: 0;
	padding: 0;
}

.cards-sprite {
	display: none;
}

[data-table-area='draw pile'] {
	height: calc(var(--card-width) * 1.333333);
	left: 2rem;
	position: absolute;
	top: 2rem;
	width: var(--card-width);

}

[data-table-area='draw pile']::before {
	border: 1px dashed #ececec;
	bottom: 3px;
	box-sizing: border-box;
	content: '';
	display: block;
	left: 3px;
	position: absolute;
	right: 3px;
	top: 3px;
}

[data-table-area='draw pile'] .card:last-child {
	transform: translate(2px, 2px)
}

[data-table-area='draw pile'] .card use.face {
    display: none;
}