:root {
	--tablebg: #006600;
	--tint: #333;
}

html {
	font-size: 62.5%;
}

body {
	background-color: var(--tablebg);
	color: var(--tint);
	margin: 0;
	padding: 0;
}

[id='cards-sprite'] {
	display: none;
}