:root {
	--tablebg: #006600;
	--cardbg: #eee;
	--tint: #333;
}

body {
	background-color: var(--tablebg);
	color: var(--tint);
}

.sprite-cards {
	display: none;
}

.sprite-cards .card {
	x: 0;
	y: 0;
	stroke: var(--tint);
	fill: var(--cardbg);
}

.card {
	width: 30px;
	height: 45px;	
}